.trafficLight
    width 100%
    border 1px solid black
    margin 0 auto
    
.flex-container {
  display flex
  justify-content center  
  flex-direction column
  width 50px
  background-color  gray 
}
.trafficLight >button
    width 30px
    height 30px
    border 1px solid black
    margin 0 auto
    border-radius 50%
    background-color  #A6ABAB



